<ng-container *ngIf="tutorials$ | async as tutorials; else loading">
  <div class="prose prose-img:rounded-3xl mx-auto space-y-20">
    <div *ngFor="let tut of tutorials" class="break-words">
      <div class="text-sm opacity-70 mb-2">
        {{ tut.updatedAt | date }}
      </div>
      <a [routerLink]="tut.title" class="no-underline hover:underline">
        <h1>
          {{ tut.title }}
        </h1>
      </a>
      <div markdown [data]="tut.description"></div>
      <div class="divider pt-14">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-16 h-16 opacity-50"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
          />
        </svg>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="animate-pulse">loading...</div>
</ng-template>
